* {
    box-sizing: border-box;
  }

  body {
    font-family: 'Karla', sans-serif;
    line-height: 1.5;
    background-color: #1b1e33;
    color: white;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #1b1e33;
    border-bottom: 1px solid rgba(230, 125, 39, 0.438);
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  header {
    width: 100%;
    margin-top: 40px;
    padding: 10px;
    margin-bottom: 5px;
  }

  h1 {
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 55px;
    font-weight: bold;
  }

  hr {
    border: 0;
    height: 1px;
    background: #ccc;
    background-image: -webkit-linear-gradient(left, #333, #ccc, #333);
    background-image: -moz-linear-gradient(left, #333, #ccc, #333);
    background-image: -ms-linear-gradient(left, #333, #ccc, #333);
    background-image: -o-linear-gradient(left, #333, #ccc, #333);
    width: 50%;
  }

  form {
    display: flex;
    flex-direction: column;
    background-color: rgb(184, 182, 182);
    border-radius: 15px;
    color: #00020e;
    width: 95%;
    margin: auto;
    margin-top: 10px;
    padding: 30px;
  }

  button {
    background-color: rgb(230, 124, 39);
    color: #00020e;
    margin-top: 20px;
    padding: 7px;
    color: white;
    font-size: 15px;
    border-radius: 5px;
  }

  input {
    padding: 10px;
    border-radius: 5px;
  }

  label {
    margin: 10px;
    width: 100%;
    text-align: left;
    margin: 0px;
  }

  footer {
    text-align: center;
    margin-bottom: 70px;
  }

  .nav-top a {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    text-decoration: none;
    color: rgb(184, 182, 182);
    padding: 10px;
  }

  .nav-top a:hover {
    background-color: rgb(184, 182, 182);
    color: #00020e;
  }

  .tagline {
    margin-top: 0px;
    font-size: 20px;
  }

  .bio {
    padding: 0 30px;
  }

  .heading {
    margin-top: 25px;
    font-family: 'Rubik', sans-serif;
  }

  .head {
    padding: 40px 30px 10px 30px;
  }

  .portrait {
    display: none;
    height: 125px;
    width: 100px;
    float: left;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
  }

  .tech {
    text-align: center;
    padding: 30px;
    background-color: rgb(184, 182, 182);
    color: #00020e;
  }
  .col  {
    display: inline;
    padding: 5px;
  }

  .proj-head {
    margin-top: 45px;
  }

  .projects {
    text-align: center;
    border: 1px solid rgb(184, 182, 182);
  }

  .project-title {
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 5px;
    font-weight: bold;
    color:rgb(230, 124, 39);
  }

  .project-item {
    padding: 10px;
    margin: auto;
  }

  .project-item a {
    text-decoration: none;
    color: rgb(184, 182, 182);
    margin: 0 5px;
  }

  .project-item a:hover {
    color: rgb(230, 124, 39);
  }

  .project-image {
    width: 90%;
    height: auto;
  }

  .app-desc{
    margin-top: 0;
    margin-bottom: 5px;
  }

  .contact {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .link {
    text-decoration: none;
    color: rgb(230, 124, 39);
    font-size: 25px;
    margin: 15px;
    display: inline;
  }

  .link:hover {
    color: rgb(184, 182, 182);
  }

  .bold {
    color: rgb(230, 124, 39);
  }

  .accent {
    color: rgb(230, 124, 39);
  }

  .contact-icons {
    display: flex;
    justify-content: center;
  }

  @media only screen and (min-width: 450px){
    form {
      width: 66%;
    }
  }

  @media only screen and (min-width: 700px){
    body {
      text-align: center;
    }

    nav {
      display: flex;
      justify-content: flex-end;
    }

    form {
      width: 40%;
      margin: auto;
      padding: 30px;
    }
    button {
      width: 100%;
      align-self: center;
      font-size: 20px;
    }
    .head {
      padding: 50px 100px 5px 100px;
    }

    .portrait {
      margin-top: 20px;
      float: none;
    }
    .bio {
      margin: 20px 75px;
    }
    .tech {
      padding-bottom: 50px; 
    }
    .project-image {
      width: 40%;
      border: 1px solid black;
    }
    .project-item a {
      display: block;
    }
    
  }
  @media only screen and (min-width: 542px){
    .portrait{
      margin: 0 20px;
    }
  }
  @media only screen and (max-width: 490px){
    .portrait {
      display: none;
    }
  }
  @media only screen and (min-width: 1100px){
    .bio {
      margin: 20px 200px;
    }
  }


  